
<!DOCTYPE html>
<html>
<head>
    <title>Default</title>
</head>
<body>
    <form method="get" action="~/Name.cshtml">
    <!--<form method="post" action="~/Name.cshtml"> -->
        <input type="text" name="name" placeholder="Name"/>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
