@{ 
    var name = (String.IsNullOrEmpty(Request["name"])) ? "Robert Paulson" : Request["name"];
}

<!DOCTYPE html>
<html>
<head>
    <title>Name</title>
</head>
<body>
   <ul>
       //<li>@Request["name"]</li>
       @for(var i=0; i<10; i++)
       {
           <li>His name is @name</li>
       }
   </ul>
</body>
</html>
